
@{
    ViewBag.Title = "Index";
}

<h2>About Us</h2>

<div class="container">
    <div class="row">
        <h3>Purpose<br /></h3>
        <div class="col-lg-6 col-md-6 col-sm-6" text-indent: 40px>
            Our purpose to is prepare future missionaries for what they will experience in the mission field.  
            Often, prospective missionaries know <b>what they will be doing</b> in the misison field, but they don't know
            <b>what it will be like</b> to be a missionary.  We try to bridge this gap by connecting real return missionaries
            with future missionaries so that they can have candid discussions about what life is like on the Lord's errand.<br /><br />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="~/Content/Images/Missionaries-elders.jpg" width="350px">
        </div>
    </div>
    <div class="row">
        <h3>Missionary Portal<br /></h3>
        <div class="col-lg-12" text-indent: 40px>
            Missionary Portal has been designed as a technology-assisted way for us to fulfill our purpose. To do this, we
            have designed a simple, easy-to-use interface that is available on any web browser, and lean enough to run on even
            the slowest internet connections. We have also kept the site purpose-driven, avoiding adding any extraneous
            functionality that would take resources away from us maintaining and improving upon our fulfillment of our simple
            purpose. To that end, we have also made the connections between individuals more meaningful by allowing users to
            filter by mission. This means that prospective missionaries will be comunicating about mission life from someone
            who served in their exact mission, eliminating the variability of experience between missions, and increasing the
            reliability of the feedback from the return misisonaries.
        </div>
    </div>
</div>