
@{
    ViewBag.Title = "Index";
}

<h2>About Us</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            Our purpose to is prepare future missionaries for what they will experience in the mission field.  
            Often, missionaries will know <i>what they'll be doing</i> to further the Lord's work but they don't know
            <i>what it will be like</i> to be a missionary.  We try to bridge this gap by connecting real return missionaries
            with future missionaries so that they can have candid discussions about what life will be like as a missionary.
        </div>
    </div>
</div>